# Ignorer les dépendances de Node.js dans frontend
/frontend/node_modules
/frontend/.pnp
/frontend.yarn/*
!/frontend.yarn/patches
!/frontend.yarn/plugins
!/frontend.yarn/releases
!/frontend.yarn/versions

# Ignorer les fichiers générés par Vite (builds, output, etc.)
/frontend/dist

# Ignorer les fichiers générés par Vite SSR (si utilisé)
/frontend/dist-ssr/

# Ignorer les fichiers de logs, de configuration, etc.
*.log
.DS_Store
*.pem
.env*

# Ignorer le dossier de build, de couverture, etc.
/build
/coverage

# Ignorer le dossier de l'environnement virtuel de FastAPI (backend)
backend/venv/
